@model Web.Models.UserLogin

@{
    ViewData["Title"] = "Index";
}

    <h1>Students Directory</h1>

<h4>User Login</h4>
<hr />
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <fieldset>
        <legend></legend>


        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.User)</td>
                <td>@Html.TextBoxFor(a => a.User)</td>
                <td>@Html.ValidationMessageFor(a => a.User)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Password)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Password)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Password)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Login" />
                </td>
                <td></td>
            </tr>
        </table>
    </fieldset>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
